<mat-card class="card">
  
      
</mat-card>
<ng-container *ngSwitchCase="'image'">
    <label class="form-label" for="">Select Image</label>
    <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
      [uploader]="uploader" (click)="!uploader.queue.length ? chooseImage(imageUpload) : undefined"
      class="well my-drop-zone form-control">{{!uploader.queue.length ? 'name':'name'}}
      <a class="btn-close text-danger" aria-label="clear"
        (click)="$event.stopPropagation();uploader.clearQueue()"></a>
    </div>
    <input hidden #imageUpload ng2FileSelect type="file" [uploader]="uploader"
      [formControlName]="0" [id]="123" class="form-control"
      [placeholder]="123" required />
      <div *ngIf="uploader.queue[0]?.isUploading" class="progress" style="">
        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
    </div>
  </ng-container>