@use '@angular/material' as mat;

.card {
    @include mat.elevation-transition();
    @include mat.elevation(2);

    &:hover {
        @include mat.elevation(4);
    }

    .title {
        margin-top: 16px;
        text-transform: capitalize;
    }

    .info {
        .article {
            display: flex;
            flex: 1;
            flex-wrap: wrap;
            gap: 16px;

            .label {
                color: lighten(black, 45%);
                text-transform: uppercase;
            }
            .value{
                text-align: center;
            }
        }
    }
}

:host {
    ::ng-deep {
        .mat-mdc-card {
            border-radius: calc(var(--mdc-elevated-card-container-shape) - 8px);
        }
    }
}