@use "sass:map";
@use "@angular/material" as mat;

@mixin color($yow-hood-theme) {
  .logo-container {
    fill: mat.get-theme-color($yow-hood-theme, secondary, 100);
  }

  .logo-main {
    fill: mat.get-theme-color($yow-hood-theme, primary, 50);
  }

  .logo-separator {
    fill: mat.get-theme-color($yow-hood-theme, secondary, 50);
  }
}

@mixin theme($yow-hood-theme) {
  @if mat.theme-has($yow-hood-theme, color) {
    @include color($yow-hood-theme);
  }
}
