.sidenav-container {
  height: 100%;

  .sidenav {
    width: 300px;

    .mobile-navigation{
      height: 320px;
      justify-content: center;
      align-items: center;
      padding: 0;
    }

    .mat-toolbar {
      background: inherit;

      &.mat-primary {
        position: sticky;
        top: 0;
        z-index: 1;
      }
    }
  }

  .primary-navigation {
    display: flex;

    .primary-nav-buttons {
      margin: 4px;
    }

    .account-menu-button {
      color: white;
      margin: 4px;
    }
  }
}

.filter,
.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-header {

  .filter {
    gap: 12px;
  }
}

h1.page-title {
  margin: 16px 0;
}

a {
  text-decoration: none;
}

:host {
  ::ng-deep {
    .mat-mdc-list-item {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .mdc-list {
      margin: 16px;
      margin-left: 0;
    }

    .mat-mdc-form-field-subscript-wrapper {
      display: none !important;
    }
  }
}
