<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="mobile-navigation"><yh-logo></yh-logo></mat-toolbar>
    <mat-nav-list class="secondary-navigation">
      <mat-list-item [activated]="true">
        <a matListItemTitle routerLink="" routerLinkActive="sn-active">House Rentals</a>
        <button mat-icon-button (click)="0" matListItemMeta>
          <mat-icon>apartment</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item [activated]="false">
        <a matListItemTitle href="...">Car Rentals</a>
        <button mat-icon-button (click)="0" matListItemMeta>
          <mat-icon>commute</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item [activated]="false">
        <a matListItemTitle href="...">Real Estate Trades</a>
        <button mat-icon-button (click)="0" matListItemMeta>
          <mat-icon>real_estate_agent</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row class="container primary-toolbar">
        @if (isHandset$ | async) {
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        }
        <header class="app-header app-name">YowHood</header>
        <span class="spacer"></span>
        <mat-nav-list class="primary-navigation">
          <a mat-flat-button class="primary-nav-buttons" href="https://www.google.com/" target="_blank"><mat-icon
              aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            Home</a>

          <a mat-flat-button class="primary-nav-buttons" href="https://www.google.com/" target="_blank"><mat-icon
              aria-hidden="false" aria-label="Example home icon" fontIcon="info"></mat-icon>
            About Us</a>
          <a mat-flat-button class="primary-nav-buttons" href="https://www.google.com/" target="_blank"><mat-icon
              aria-hidden="false" aria-label="Example home icon" fontIcon="phone"></mat-icon>
            Contact Us</a>

          <a mat-button class="account-menu-button" [matMenuTriggerFor]="profileMenu"
            aria-label="Example icon button with a vertical three dot icon">
            <mat-icon fontIcon="account_circle"></mat-icon><span style="color: white;">Jared Bada</span>
          </a>


          <mat-menu #profileMenu="matMenu">
            <button mat-menu-item>
              <mat-icon>person</mat-icon>
              <span>My Profile</span>
            </button>
            <button mat-menu-item>
              <mat-icon>manage_accounts</mat-icon>
              <span>Account Settings</span>
            </button>
            <button mat-menu-item>
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>


        </mat-nav-list>
      </mat-toolbar-row>
      <mat-toolbar-row class="secondary-toolbar">
        <yh-location-selector class="container"></yh-location-selector>
      </mat-toolbar-row>
    </mat-toolbar>

    <header class="container filter-header">
      <h1 class="page-title">House Rentals</h1>
      <section class="filter">
        <button mat-icon-button color="primary" aria-label="Example icon button with a vertical three dot icon">
          <mat-icon class="add-icon">add</mat-icon>
        </button>
        <mat-form-field appearance="outline" class="reduced-size">
          <mat-label>Search Houses</mat-label>
          <input matInput type="text" [formControl]="searchCtrl">
          @if (searchCtrl.value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="searchCtrl.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>
        <button mat-flat-button color="primary" aria-label="Example icon button with a vertical three dot icon" [matMenuTriggerFor]="filterMenu">
          <mat-icon matPrefix>filter_alt</mat-icon>Filter
        </button>

        <mat-menu #filterMenu="matMenu">
          <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>My Profile</span>
          </button>
          <button mat-menu-item>
            <mat-icon>manage_accounts</mat-icon>
            <span>Account Settings</span>
          </button>
          <button mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </section>
    </header>
    <section class="container">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>