@use '@angular/material' as mat;

:host{
  display: flex;
  flex-wrap: wrap;
  margin: 4px 16px;
  gap: 16px;
}
.card {
  max-width: 400px;

  .title{
    margin-top: 16px;
  }

  .info{

    .article{
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      gap: 16px;

      .label{
        color:  lighten(black, 45%);
        text-transform: uppercase;
      }
    }
  }
}

.mat-mdc-card{
  border-radius: calc(var(--mdc-elevated-card-container-shape) - 8px);
}