<form class="location-selector" (ngSubmit)="(0)" [formGroup]="locationForm">
  <mat-form-field
    appearance="outline"
    formControlName="county"
    class="selector-control reduced-size"
  >
    <mat-label>County</mat-label>
    <mat-select (selectionChange)="onSelectLocation($event)">
      @for (location of (locations$ | async); track location) { @if
      (location.level == 0) {
      <mat-option [value]="location">{{ location.name }}</mat-option>
      } }
    </mat-select>
    <mat-icon matPrefix>apartment</mat-icon>
    <mat-icon matSuffix (click)="removeLocationCtrl('county')">close</mat-icon>
  </mat-form-field>

  @if (getControl('subCounty')) {
  <mat-form-field
    appearance="outline"
    formControlName="subCounty"
    class="selector-control reduced-size"
  >
    <mat-label>Sub County</mat-label>
    <mat-select (selectionChange)="onSelectLocation($event)">
      @for (location of (locations$ | async); track location) { @if
      (location.level == 1) {
      <mat-option [value]="location">{{ location.name }}</mat-option>
      } }
    </mat-select>
    <mat-icon matPrefix>apartment</mat-icon>
    <mat-icon matSuffix (click)="removeLocationCtrl('subCounty')"
      >close</mat-icon
    >
  </mat-form-field>
  } @if (getControl('location')) {
  <mat-form-field
    appearance="outline"
    formControlName="location"
    class="selector-control reduced-size"
  >
    <mat-label>Location</mat-label>
    <mat-select (selectionChange)="onSelectLocation($event)">
      @for (location of (locations$ | async); track location) { @if
      (location.level == 2) {
      <mat-option [value]="location">{{ location.name }}</mat-option>
      } }
    </mat-select>
    <mat-icon matPrefix>apartment</mat-icon>
    <mat-icon matSuffix (click)="removeLocationCtrl('location')"
      >close</mat-icon
    >
  </mat-form-field>
  } @if (getControl('area')) {
  <mat-form-field
    appearance="outline"
    formControlName="area"
    class="selector-control reduced-size"
  >
    <mat-label>Area</mat-label>
    <mat-select (selectionChange)="onSelectLocation($event)">
      @for (location of (locations$ | async); track location) { @if
      (location.level == 3) {
      <mat-option [value]="location">{{ location.name }}</mat-option>
      } }
    </mat-select>
    <mat-icon matPrefix>apartment</mat-icon>
    <mat-icon matSuffix (click)="removeLocationCtrl('area')">close</mat-icon>
  </mat-form-field>
  }
</form>
