  <form class="location-selector" (ngSubmit)="0" [formGroup]="locationForm">

    @for (location of locationsCtrls.controls; track $index) {
    <mat-form-field appearance="outline" formArrayName="locations" class="selector-control reduced-size">
      <mat-label>{{locationName($index)}}</mat-label>
      <mat-select (selectionChange)="onSelectLocation($event)">
        @for (location of (locations$ | async); track location) {
        <mat-option [value]="location">{{location.name}}</mat-option>
        }
      </mat-select>
      <mat-icon matPrefix>apartment</mat-icon>
      <mat-icon matSuffix (click)="removeLocation($index)">close</mat-icon>
    </mat-form-field>
    }

  </form>
