@use '@angular/material' as mat;

.location-selector {

  &-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;

    mat-form-field {
      width: 220px;
    }
  }
}


.reduced-size {
  @include mat.all-component-densities(-8);
}