:host {
  --grid-height: none;
  --grid-width: none;
}

.grid {
  height: var(--grid-height);
  width: var(--grid-width);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
  padding: 4px;
  align-items: stretch;
  overflow: auto;
}